# 第1章 Pandas基础

## 1. 问题
### 【问题一】 Series和DataFrame有哪些常见属性和方法？
####    属性：
####    Series，可看作其中最常用的属性为值（values），索引（index），名字（name），类型（dtype)唯一
####    DataFrame, 由一列以上Series组成，增加了列（column）属性。
####    索引很重要：所有操作默认自动按索引按位对齐
####   方法：
####    1、框架层：对索引（行名）、列名、值等都可以增、删、改，以及转置，以.xxx()为调用形式的部分方法默认不修改原df。
####    2、元素层：df中，因为每列类型唯一，默认（axis=0）以列为单位进行统计、排序、极值、清洗、找重等整体操作，describe(),info()等；有需要对行操作时，取axis=1，只对其中可以运算的类型起作用。也可以通过索引选择元素级操作。使用.apply(lambda)对某列所有数据同步进行指定函数操作。
####    3、透视表：使用.groupby()将df专程数据透视表，可以进行多层归类统计。

### 【问题二】 value_counts会统计缺失值吗？
####    忽略缺失值，这点与excel不同

In [103]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame({'A':[4,2,3,1]},index=[1,2,4,5])
df1['B']=list('abbc')
df11 = df1.assign(C=pd.Series(list('deff')))#Seires默认index从0开始，错位
print(df11)
print(df11.C.value_counts())

   A  B    C
1  4  a    e
2  2  b    f
4  3  b  NaN
5  1  c  NaN
f    1
e    1
Name: C, dtype: int64

### 【问题三】 与idxmax和nlargest功能相反的是哪两组函数？
####    idxmin nsmallest

In [104]:
df11.A.idxmin()

5

In [105]:
df11.A.nsmallest(2)

5    1
2    2
Name: A, dtype: int64

### 【问题四】 在常用函数一节中，由于一些函数的功能比较简单，因此没有列入，现在将它们列在下面，请分别说明它们的用途并尝试使用。
#### sum/mean/median/mad/min/max/abs/std/var/quantile/cummax/cumsum/cumprod

### 【问题五】 df.mean(axis=1)是什么意思？它与df.mean()的结果一样吗？第一问提到的函数也有axis参数吗？怎么使用？

In [148]:
df = pd.DataFrame({'A':[10,2,3,100,-1]},index=[1,2,6,5,7])
df['B']=list('abbc1')
df = df.assign(C=pd.Series(list('deffg')))#Seires默认index从0开始，错位
df['D']=[0,8,6,4,6]
print(df)
df.sum()#按列求和
df.mean(axis=1)#按行求均值（只对其中数值类型起作用）
df.mean()#对数值类型列求均值
df.median()#中位数，对数值类型,奇数个取中间值，偶数个取两个中间值均值
df.mad()#平均绝对离差 1/N*SUM(|Xi-E|),对数值类型
df.min()#最小值，有NaN列不计算
df.max()#最大值，有NaN列不计算
df.A.abs()#绝对值,对数值类型
df.A.std()#标准差,对数值类型
df.A.var()#方差,对数值类型
df.quantile(q=0.25)#分位数quantile(q=0.5, interpolation=’linear’)
df.A.cummax()#按顺序累计最大值，对数值类型
df.A.cumsum()#按顺序累加和，对数值类型
df.A.cumprod()#按顺序累乘积，对数值类型

     A  B    C  D
1   10  a    e  0
2    2  b    f  8
6    3  b  NaN  6
5  100  c  NaN  4
7   -1  1  NaN  6

1     5.0
2     5.0
6     4.5
5    52.0
7     2.5
dtype: float64

### 2. 练习
#### 【练习一】 现有一份关于美剧《权力的游戏》剧本的数据集，请解决以下问题：
#### （a）在所有的数据中，一共出现了多少人物？
#### （b）以单元格计数（即简单把一个单元格视作一句），谁说了最多的话？
#### （c）以单词计数，谁说了最多的单词？

In [149]:
gameofT = pd.read_csv('data/Game_of_Thrones_Script.csv')
gameofT.head(1)

,Release Date,Season,Episode,Episode Title,Name,Sentence
0,2011/4/17,Season 1,Episode 1,Winter is Coming,waymar royce,What do you expect? They're savages. One lot s...

In [150]:
#（a）在所有的数据中，一共出现了多少人物？
gameofT['Name'].nunique()

564

In [151]:
#（b）以单元格计数（即简单把一个单元格视作一句），谁说了最多的话？
gameofT['Name'].value_counts().index[0]

'tyrion lannister'

In [153]:
#（c）以单词计数，谁说了最多的单词？
import re
gameofT['Words'] = gameofT['Sentence'].apply(lambda x:len(str(x).split()))
#按Name对Words计数求和，倒排序返回最多的
gameofT.groupby('Name').sum()['Words'].sort_values(ascending=False).index[0]

'tyrion lannister'

#### 【练习二】现有一份关于科比的投篮数据集，请解决如下问题：
#### （a）哪种action_type和combined_shot_type的组合是最多的？
#### （b）在所有被记录的game_id中，遭遇到最多的opponent是一个支？

In [154]:
kobe = pd.read_csv('data/Kobe_data.csv',index_col='shot_id')
#index_col的作用是将某一列作为行索引

In [155]:
#观察数据
kobe.info()
kobe.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30697 entries, 1 to 30697
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   action_type         30697 non-null  object
 1   combined_shot_type  30697 non-null  object
 2   game_event_id       30697 non-null  int64
 3   game_id             30697 non-null  int64
 4   lat                 30697 non-null  float64
 5   loc_x               30697 non-null  int64
 6   loc_y               30697 non-null  int64
 7   lon                 30697 non-null  float64
 8   minutes_remaining   30697 non-null  int64
 9   period              30697 non-null  int64
 10  playoffs            30697 non-null  int64
 11  season              30697 non-null  object
 12  seconds_remaining   30697 non-null  int64
 13  shot_distance       30697 non-null  int64
 14  shot_made_flag      25697 non-null  float64
 15  shot_type           30697 non-null  object
 16  shot_zone_area      30697 non-null  object
 17  shot_zone_basic     30697 non-null  object
 18  shot_zone_range     30697 non-null  object
 19  team_id             30697 non-null  int64
 20  team_name           30697 non-null  object
 21  game_date           30697 non-null  object
 22  matchup             30697 non-null  object
 23  opponent            30697 non-null  object
dtypes: float64(3), int64(10), object(11)
memory usage: 5.9+ MB

,game_event_id,game_id,lat,loc_x,loc_y,lon,minutes_remaining,period,playoffs,seconds_remaining,shot_distance,shot_made_flag,team_id
count,30697.000000,3.069700e+04,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,30697.000000,25697.000000,3.069700e+04
mean,249.190800,2.476407e+07,33.953192,7.110499,91.107535,-118.262690,4.885624,2.519432,0.146562,28.365085,13.437437,0.446161,1.610613e+09
std,150.003712,7.755175e+06,0.087791,110.124578,87.791361,0.110125,3.449897,1.153665,0.353674,17.478949,9.374189,0.497103,0.000000e+00
min,2.000000,2.000001e+07,33.253300,-250.000000,-44.000000,-118.519800,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.610613e+09
25%,110.000000,2.050008e+07,33.884300,-68.000000,4.000000,-118.337800,2.000000,1.000000,0.000000,13.000000,5.000000,0.000000,1.610613e+09
50%,253.000000,2.090035e+07,33.970300,0.000000,74.000000,-118.269800,5.000000,3.000000,0.000000,28.000000,15.000000,0.000000,1.610613e+09
75%,368.000000,2.960047e+07,34.040300,95.000000,160.000000,-118.174800,8.000000,3.000000,0.000000,43.000000,21.000000,1.000000,1.610613e+09
max,659.000000,4.990009e+07,34.088300,248.000000,791.000000,-118.021800,11.000000,7.000000,1.000000,59.000000,79.000000,1.000000,1.610613e+09

In [35]:
#（a）哪种action_type和combined_shot_type的组合是最多的？
# 将关注的两列组合成新的一列
kobe['mixed_type'] = kobe.apply(lambda x:str(x['action_type'])+'_'+str(x['combined_shot_type']), axis=1)
#计数并取最大值
kobe['mixed_type'].value_counts().idxmax().split('_')

['Jump Shot', 'Jump Shot']

In [156]:
#（b）在所有被记录的game_id中，遭遇到最多的opponent是一个支？
# 对game_id去重，对opponent计数并取最大值
(kobe.drop_duplicates(["game_id"],keep="first")['opponent']).value_counts().idxmax()

'SAS'