## 赛题理解部分

### 赛题数据
赛题数据为新闻文本，并按照字符级别进行匿名处理。整合划分出14个候选分类类别：{'科技': 0, '股票': 1, '体育': 2, '娱乐': 3, '时政': 4, '社会': 5, '教育': 6, '财经': 7, '家居': 8, '游戏': 9, '房产': 10, '时尚': 11, '彩票': 12, '星座': 13}的文本数据。

赛题数据由以下几个部分构成：训练集20w条样本，测试集A包括5w条样本，测试集B包括5w条样本。

### 竞赛流程
- 将train_set.csv数据（20w，带分类标注）分为训练集、测试集，进行训练调参；
- 对test_a.csv（5w）进行预测，按test_a_sample_submit.csv格式生成结果文件提交天池。

### 解题思路（此处照搬，结合日后学习理解）

赛题思路分析：赛题本质是一个文本分类问题，需要根据每句的字符进行分类。但赛题给出的数据是匿名化的，不能直接使用中文分词等操作，这个是赛题的难点。

因此本次赛题的难点是需要对匿名字符进行建模，进而完成文本分类的过程。由于文本数据是一种典型的非结构化数据，因此可能涉及到特征提取和分类模型两个部分。为了减低参赛难度，我们提供了一些解题思路供大家参考：

#### 思路1：TF-IDF + 机器学习分类器
直接使用TF-IDF对文本提取特征，并使用分类器进行分类。在分类器的选择上，可以使用SVM、LR、或者XGBoost。

#### 思路2：FastText
FastText是入门款的词向量，利用Facebook提供的FastText工具，可以快速构建出分类器。

#### 思路3：WordVec + 深度学习分类器
WordVec是进阶款的词向量，并通过构建深度学习分类完成分类。深度学习分类的网络结构可以选择TextCNN、TextRNN或者BiLSTM。

#### 思路4：Bert词向量
Bert是高配款的词向量，具有强大的建模学习能力。

In [ ]:
import pandas as pd

In [9]:
#读取数据
train_df = pd.read_csv('./input/train_set.csv', sep='\t')
testa_df = pd.read_csv('./input/test_a.csv', sep='\t')
testa_sample = pd.read_csv('./input/test_a_sample_submit.csv', sep='\t')

display(train_df.head(),testa_df.head(),testa_sample.head())

   label                                               text
0      2  2967 6758 339 2021 1854 3731 4109 3792 4149 15...
1     11  4464 486 6352 5619 2465 4802 1452 3137 5778 54...
2      3  7346 4068 5074 3747 5681 6093 1777 2226 7354 6...
3      2  7159 948 4866 2109 5520 2490 211 3956 5520 549...
4      3  3646 3055 3055 2490 4659 6065 3370 5814 2465 5...

                                                text
0  5399 3117 1070 4321 4568 2621 5466 3772 4516 2...
1  2491 4109 1757 7539 648 3695 3038 4490 23 7019...
2  2673 5076 6835 2835 5948 5677 3247 4124 2465 5...
3  4562 4893 2210 4761 3659 1324 2595 5949 4583 2...
4  4269 7134 2614 1724 4464 1324 3370 3370 2106 2...

   label
0      0
1      0
2      0
3      0
4      0

In [10]:
#测试f1_score
from sklearn.metrics import f1_score
y_true = [0, 1, 2, 0, 1, 2]
y_pred = [0, 2, 1, 0, 0, 1]
f1_score(y_true, y_true, average='macro')#全部相同时=1

1.0